.calc{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:white;
    height: 150vh;
}
.section{
    background-color:rgb(207, 221, 221);
    padding:5px;
    
    min-width:338px;
    border-radius:5px;
    border: 1px solid rgb(200, 198, 198);
    text-align: right;
    min-height: 73vh;
    box-shadow: 0px 0px 7px;
    
}
.display{

   
    padding: 2px;
    background-color:rgb(207, 221, 221);
    border: 1px;
    border-radius: 5px;
    height:200px;
    max-width: 338px;
    overflow: hidden;
    
    
}

.col{
    min-width:50px;
    min-height:60px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    border: transparent;
    margin: 2px;
    font-size: larger;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
   
    
}
.row{
    display: flex;
 
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    cursor: pointer;
}

.heading{
    display: grid;
    text-align: start;
    padding-left: 3px;

}


.head{
    
    font-size: small;
    font-weight: bolder;
    float:left;

}
.standered{

    font-size: large;
    font-weight: bold;
    float:left;
    margin-top: 10px;
    height:20px;
}
.secondDisplay{
    font-size: large;
    font-weight: lighter;
   
    
}
.secondDisplay h6{
    font-weight:normal;
}
.firstDisaplay{
    font-size: large;
    font-weight: bolder;

  
}

